[submodule "external/libabacus"]
	path = external/libabacus
	url = https://github.com/sessionm21/libabacus.git
[submodule "external/greatest"]
	path = external/greatest
	url = https://github.com/silentbicycle/greatest.git
